$classname: 'cssrwd';
$inputWidth: '10rem';


* {
    // font-family: serif;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 80%; //80%  => 12.8px
}

.#{$classname} {

    // @media only screen and (min-width: 768px) {
    //     .layout {
    //         display: flex;

    //     }

    //     .leftPart {

    //         margin-top: 170px;
    //         margin-left: 125px;
    //         padding: 4.8rem 0;
    //     }

    //     .rightPart {
    //         margin-right: 160px;
    //         margin-top: 120px;
    //         padding-left: 0;
    //     }
    // }

    min-height: 100vh;
    width: 100%;
    height: 100vh;
    background-image: url(./background_0222.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    .layout {
        width: 100%;

    }



    .leftPart {
        * {
            margin: 1rem;
        }

        color: white;
        // padding: 4.8rem;
        // border: solid red 1px;

        .title {
            top: 0px;
            font-size: 2.15rem;
        }

        .slogan {
            font-size: 3.4rem;
            letter-spacing: 1px
        }

        .content {
            font-size: 1.23rem;
            // max-width: 7rem;
        }


        .startBtn {
            font-size: 1rem;
            border: 0;
            background: red;
            padding: 8px 5px;
            color: white;
            width: 10rem;
            text-transform: uppercase;
            border-radius: 3px;
            font-weight: bold;
        }

    }

    .rightPart {
        // padding: 4.8rem;


        .form {
            // border: solid blue 1px;
            border-bottom: solid red 5px;
            background: white;
            width: 20rem;
            margin: 1.6rem calc((100% - 24rem)/2);
        }

        .formTitle {
            font-size: 1.6rem;
            text-align: center;
            font-weight: bold;
            padding: 1.6rem;
        }

        textarea,
        input {
            width: 16rem;
            height: 2rem;
            margin: 0.6rem calc((100% - 16rem)/2);
            opacity: 0.5;
            font-weight: 500;

            &::placeholder {
                // color: red
            }
        }

        textarea {
            height: 4rem;
        }

        form {
            width: auto;
            margin-bottom: 1.5rem;
        }

        .btn {
            padding: 1rem;
            border: 0;
            background: red;
            color: white;
            width: 16rem;
            border-radius: 2px;
            margin: 0.15rem calc((100% - 16rem)/2)
        }

    }

    // PC
    @media only screen and (min-width: 980px) {

        // background-size: contain;

        .layout {
            display: flex;

        }

        .leftPart {

            margin-top: 170px;
            margin-left: 200px;
            margin-right: 12px;
            padding: 4.8rem 0;
        }

        .rightPart {
            margin-right: 230px;
            margin-top: 160px;
            padding-left: 0;
        }
    }


}